/swingCrud/nbproject/private/
/swingCrud/build/
/swingCrud/dist/
/swingCrudEx/target/
/PdfReader/nbproject/private/
/SwingLayout/nbproject/private/
/SwingLayout/build/
/ClientEditor/nbproject/private/
/ClientEditor/build/
/Fireworks/nbproject/private/
/Fireworks/build/
/Fireworks/dist/
/lms/nbproject/private/
/lms/build/
/lms/dist/