/swingCrud/nbproject/private/
/swingCrud/build/
/swingCrud/dist/
/swingCrudEx/target/
/PdfReader/nbproject/private/
/SwingLayout/nbproject/private/
/SwingLayout/build/
/ClientEditor/nbproject/private/
/ClientEditor/build/
/Fireworks/nbproject/private/
/Fireworks/build/
/Fireworks/dist/
/lms/nbproject/private/
/lms/build/
/lms/dist/
/swingmenu/nbproject/private/
/swingmenu/build/
/SwingEx03/nbproject/private/
/SwingEx03/build/
/JFrameFullScreenMode/nbproject/private/
/JFrameFullScreenMode/build/
/SwingDifferentFrameHandleByMenu/nbproject/private/
/JFrameMenu/nbproject/private/
/JFrameMenu/build/
/JFrameMenu/dist/
/PlayingwithImages/nbproject/private/
/PlayingwithImages/build/
/WorkingWithList/nbproject/private/
/WorkingWithList/build/
/PointOfSale/nbproject/private/
/PointOfSale/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/JavaApplication13/nbproject/private/
/round-39/swing-ex1/nbproject/private/
/round-39/swing-ex1/build/
/round-39/swing-ex1/dist/
/round-39/displayAtTableFromForm/nbproject/private/
/round-39/displayAtTableFromForm/build/
/round-39/swingjdbcBasic/nbproject/private/
/round-39/swingjdbcBasic/build/
/round-39/preEvidence/nbproject/private/
/round-39/preEvidence/build/
/round-39/commonMenu/nbproject/private/
/round-39/commonMenu/build/
/round-39/pga/nbproject/private/
/round-39/pga/build/
/round-43/JavaApplication10/nbproject/private/
/round-43/JavaApplication10/build/
/round-43/specialJava/nbproject/private/
/round-43/specialJava/build/
/round-43/problemsolving/nbproject/private/
/round-43/problemsolving/build/
/round-43/mysqldbconnection/nbproject/private/
/round-43/mysqldbconnection/build/
/round-43/mysqldbconnection/dist/